{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Catch Coding Challenge</h1>
        <h2 style="text-align: center;">Ecommerce Order Processing</h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Date & Time</th>
                <th>Total Order Value</th>
                <th>Average Unit Price</th>
                <th>Distinct Unit Count</th>
                <th>Total Units Count</th>
                <th>Customer State</th>
            </tr>
            </thead>
            <tbody>
            {% for record in summaryList %}
                <tr>
                    {% for cell in record %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}